.flex-group {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.label {
  margin: 1rem 0;
}

.input {
  width: 100%;
}

.button {
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 0.25rem;
  border: none;
  border-radius: 2px;
  background-color: var(--clr-primary-600);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 1px;
}

