@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,400;0,9..144,700;1,9..144,400&display=swap");

:root {
  --clr-primary-600: #3693f7;
  --clr-secondary-300: #b5d8fc;

  --clr-neutral-900: #03254a;
  --clr-neutral-100: #e6f2fe;

  --fw-regular: 400;
  --fw-bold: 700;

  --ff-base: "Montserrat", sans-serif;
  --ff-accent: "Fraunces", serif;
}

/* General Styling */

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: 1rem;
  color: var(--clr-neutral-900);
  background-color: var(--clr-secondary-300);
}

main,
footer {
  padding: 1rem 5rem;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
}

section {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
}

